{% load static %}
<!DOCTYPE html>

<html>
<head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>movies very cool</title>

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
  <div class="background"></div>
  <div class="login-container">
    <div class="login">
      <form action="" method="post" novalidate>
  
        <h1>Enter your user to continue</h1>
    
        {% csrf_token %}
        {% for field in form %}
                        
        <div class="input-box">
          {{ field.label_tag }}
          {{ field }}
        </div>
        <small class="text-warning">{{ field.errors|striptags }}</small><br>
        {% endfor %}<br>
    
        <input class="login-input" type="submit" value="login">
    
        {% if form.non_field_errors %}
          {% for error in form.non_field_errors %}
            <p class="alert alert-danger my-3">{{ error }}</p>
          {% endfor %}
        {% endif %}
    
        <div class="register-link">
          <p>Don't have an account? <a href="{% url 'signup' %}">Register</a> </p>
        </div>
      </form>
    </div>
  </div>

</body>
</html>
